/* navBar */
.nav-brand{
  font-size: 25px;
  font-weight: bold;
  margin-left: 100px;
}
.nav-item{
  font-size: 20px;
  font-weight: 400;
  color: rgb(12, 12, 12);
  margin-right: 80px;
}
.nav-container{
  border:1x solid rgb(199, 197, 197)
}

/* register */

.register-brand{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.register-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color:#fff;
  margin-left: 300px;
  margin-top: 20px;
  border: 2px solid gray;
  
}
.register-container form input{
  width: 100%;
  margin-bottom: 10px;
  background-color:rgb(247, 243, 243);
  gap: 50px;
  padding: 0px;
  height: 50px;
  border: 1px solid rgb(198, 195, 195);
  
}
.register-container button{
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(252, 47, 47);
  color: white;
  border: none;
}
.register-container label{
  font-weight: 700;
}

/* users */
.ed-btn{
  padding: 5px 15px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.del-btn{
  padding: 5px 15px;
  background-color: rgb(252, 8, 12);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.add-ne-us-btn{
  margin-left: 90%;
  margin-bottom: 10px;
  padding: 5px 15px;
  background-color: rgb(17, 223, 41);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.nav-link{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight:100;
}

.logout-btn-red{
  padding: 5px 17px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 6px;
}
.logout-btn-green{
  padding: 5px 17px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.profileContainer{
  
  
  width: 50%;
  height: 550px;
  background-color:#fff;
  border: 3px solid rgb(14, 13, 13);
  margin-left: 300px;
  margin-top: 40px;
  border-radius: 30px;
}
.profileContainer p{
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.profileContainer h5{
  margin-top: 60px;
  margin-left: 20px;
}
.profileContainer h4{
  margin-top: 60px;
  margin-left: 20px;
}
.userObject{
  font-size: 20px;
  margin-top: 30px;
}
.Home-head{
  font-size: 100px;
  margin-top: 200px;
  margin-left: 400px;
  font-weight: bold;
  font-style:italic;
  color: rgb(37, 36, 36);
}
.footer-container{
  width: 100%;
  background-color: rgb(33, 33, 33);
  height: 80px;
  margin-top: 80px;
}